html, body {
  margin: 0;
  padding: 0;
  background-color: #18222d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  background-color: #1e1e1e;
  width: 100%;
  max-width: 90vmin;
  height: auto;
  border: 2px solid #00bfff;
}

#menu-button {
  margin-top: 16px;
  padding: 10px 20px;
  background-color: #00bfff;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

#controls {
  width: 100%;
  height: 100px;
  background: #111;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  touch-action: none;
  user-select: none;
}
